MISTRAL_API_URL=https://api.mistral.ai/v1
MISTRAL_API_KEY=xxx

MISTRAL_MODEL_EMBED=mistral-embed
MISTRAL_MODEL_SMALL=mistral-small-latest
MISTRAL_LARGE_MODEL=mistral-medium-latest
GITHUB_API_URL=https://api.github.com

# GITHUB_TOKEN=xxx 

HEX_API_URL=https://hex.pm/api

DATABASE_PATH=priv/mcp.db